<%- include('header') -%>

    <body>
        <div class="box" id="heading">
            <h1>
                <%=title%>
            </h1>
        </div>
        <div class="box">
            <%for(element of targets){%>
                <form  action="/delete" method="post">
                    <div class="item">
                        <input type="checkbox" name="checkbox" value="<%=element._id%>" onchange="this.form.submit()">
                        <p>
                            <%=element.name%>
                        </p>
                    </div>
                </form>
                <%}%>
                    <form class="item" action="/" method="post">
                        <input type="text" name='todo' placeholder="new item">
                        <button type="submit" name="btn" value="<%=title%>">+</button>
                    </form>
        </div>

    </body>
    <%- include('footer') -%>